body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #eee;
  color: #666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
